@import "tailwindcss";

html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  background: #313338;
  color: white;
  font-family:
    Inter,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;
}